<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>More updates coming soon. Keep watching!!.</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Hello! My name is TAvneet KAur, and I am passionate about programming
        and web development. I completed my schooling in India, specializing in
        the Non-Medical field. After completing my 12th grade, I embarked on a
        journey to enhance my programming skills. I dedicated myself to learning
        core Java and obtained a certification after completing a rigorous
        6-month course.
      </p>
      <p>
        In addition to my studies, I am also determined to acquire the Java
        Oracle Certification, which holds significant value in the software
        market. This certification will further strengthen my skills and enhance
        my career prospects.
      </p>
      <p>
        Looking ahead, I aspire to gain valuable industry experience for 2-3
        years before embarking on my entrepreneurial journey. With the knowledge
        and expertise I gather along the way, I am confident that I will be
        well-prepared to establish my own tech company.
      </p>
    </article>
  </section>
</div>
